 <div class="banner d-flex flex column center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/2083780.jpg);">
  <div class="container">
    <div class="banner-info">
      <h1><strong>Island Now!</strong></h1>
      <p>Discover our dream destinations!</p>
     </div>
  </div>
</div>

<br>


<div class="container row d-flex centering_cards">
 <%@islands.each do |island|%>
 <div class="card col-4">
    <div class="card__header">
      <img src="https://a0.muscache.com/im/pictures/miso/Hosting-555632030522710376/original/c8b5a0c1-0468-4402-a772-2b93d75366df.jpeg?im_w=720" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue"><%=island.name%><% island.location%></span>
      <h4><%=island.location%></h4>
      <p><%=island.mini_description%></p>
      <p>$<%=island.price%></p>
      <%=link_to"Take a closer look!", island_path(island)%>
    </div>
    <div class="card__footer">
      <div class="user">
        <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
        <div class="user__info">
          <h5>Jane Doe</h5>
          <small>2h ago</small>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
