
<div class="row mt-4">
<div class="col-8 mx-auto card-trip pt-3 pl-3 pr-3">
<div class="image-ilsand">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  </div>
  <div class="card-trip-infos">
    <div>
      <h2><%=@island.name%></h2>
      <p><%=@island.description%></p>
      <br>
      <p><strong>$<%=@island.price%></strong></p>
      <br>
      <p><%=link_to "Go back to the Islands", islands_path%></p>
      <p><%=link_to "BOOK HERE",  new_island_booking_path(@island)%></p>
    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
</div>
