
<div class="booking-banner" style="background-image: url('<%=cl_image_path @island.photo.key, crop: :fill %>')">
<div class="banner-info">
<h1>A Step Closer To Booking <br>Your Dream Island</h1>
<h2><%=@island.name%></h2>
</div>

<div class="form">
<div class="container d-flex justify-content-center">
<div class="card d-flex align-items-center justify-content-center">
    <div class="card__body">
    <p>Book <%=@island.name%></p>
  <%= simple_form_for [@island, @booking] do |f| %>
  <%= f.input :number_of_guest%>
  <%= f.input :check_in_date, as: :date, html5: true%>
  <%= f.input :checkout_date, as: :date,html5: true%>
  <%= f.button :submit%>
<% end %>
</div>
  </div>
    </div>
  </div>
</div>
</div>
